body {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-bottom: 0;
  text-decoration: underline;
}

ul {
  margin-top: 0;
}

/* get by id */
.box-container {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
}

.draw-buttons {
  margin-bottom: 20px;
}

.textarea {
  margin-top: 20px;
}

.pixelBar {
  font-size: medium;
  width: 760px;
  text-align: start;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  resize: vertical;
  overflow: auto;
}

.box {
  font-size: xx-small;
  color: rgb(205, 205, 205);
  /* background-color: red; */
  width: 17px;
  height: 17px;
  display: flex;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
}

.blue-bg {
  background-color: blue;
}

.highlighted {
  color: red;
}

.toast {
  font-size: large;
  color: white;
  visibility: hidden;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background-color: #150505b5;
  z-index: 1;
  position: fixed;
  top: 215px;
  left: 380px;
  transform: translate(-50%, -50%);
}

.toast.show {
  visibility: visible;
}
